<div class="contianer-fluid p-5">
  <div class="row justify-content-center">
    <div class="col-md-2 bg-img">
      <h3 class="text-center w-100">Key Features</h3>
    </div>
    
  </div>
  <div class="row justify-content-center pt-5 pb-5">
    <div class="col-md-3 p-5">
      <div class="row justify-content-center pb-3">
         <img src="../../../assets/technical security.png" alt="">
      </div>
      <div class="row">
        <p class="text-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
      </div>
    </div>
    <div class="col-md-3 p-5">
      <div class="row justify-content-center pb-3">
        <img src="../../../assets/data security.png" alt="">
     </div>
      <div class="row">
        <p class="text-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
      </div>
    </div>
    <div class="col-md-3 p-5">
      <div class="row justify-content-center pb-3">
        <img src="../../../assets/identity theft.png" alt="">
     </div>
      <div class="row">
        <p class="text-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
      </div>
    </div>
  </div>
</div>