<div class="contianer-fluid p-5 sec-css">
  <div class="row h-100">
    <div class="col-md-6 my-auto">
      <div class="row">
        <div class="col-md-12 bg-img">
          <h3 class=" w-100">Secure Your IT</h3>
        </div>
        <div class="col-md-12">
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 my-auto">
      <img src="../../../assets/secure your it.png" width="80%" alt="">
    </div>

  </div>
</div>