.bg-color{
    
    height: 90vh;
    width: 100vw;
    clip-path: polygon(0 0, 100% 0%, 100% 85%, 0% 100%);
}
.color-white{
    color:white;
    font-size: 7vh;
}
.pad-left{
padding-left:10%;
}
.p-white{
    color:white;
}
.border-radius{
    border-radius: 20px;
    color: white;
}