<div class="contianer-fluid p-5 bg-color">
  <div class="row h-100">
    <div class="col-md-6 my-auto pad-left">
        <h1 class="color-white">Designed by</h1>
        <h1 class="color-white">Indian Engineers</h1>
        <p class="p-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
        <button type="button" class="btn btn-warning border-radius">View Products</button>
    </div>
    <div class="col-md-6 my-auto">
        <img src="../../../assets/banner_illustration.png" width="80%">
    </div>
  </div>

</div>
