<div class="contianer-fluid height-css">
<div class="row">
  <div class="col-md-3 text-center p-3">
      <img src="../../../assets/Logo_white.png" width="30%" alt="">
  </div>
  <div class="offset-3 col-md-5 p-3 float-right">
    <div class="row">
        <div class="col-md-2 font-white">Home</div>
        <div class="col-md-2 font-white">About</div>
        <div class="col-md-2 font-white">Features</div>
        <div class="col-md-2 font-white">Product</div>
        <div class="col-md-2 font-white">IT Security</div>
        <div class="col-md-2 font-white">Contact</div>
    </div>
  </div>

</div>
</div>